.home_container {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home_main {
    background: linear-gradient(to bottom, #ffffff, #e6f7ff 60%, #b0d8ff); ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body.dark-mode .home_main {
  background: linear-gradient(135deg, #121212, #03123a);
  background-size: 400% 400%;
  animation: gradientShiftDark 5s ease infinite;
  color: #fff;
  transition: background 5s ease, color 5s ease;
}

@keyframes gradientShiftDark {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}