.payment-method-card {
  cursor: pointer;
  margin-bottom: 20px;
}

body.dark-mode .redeem-page {
  background: linear-gradient(135deg, #121212, #03123a);
  background-size: 400% 400%;
  animation: gradientShiftDark 5s ease infinite;
  color: #fff;
  transition: background 5s ease, color 5s ease;
}

body.dark-mode .payment-method-card {
  background-color: #555;
}

@keyframes gradientShiftDark {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.payment-method-image {
  height: 100px;
  object-fit: contain;
  padding: 10px;
}

.payment-method-card:hover {
  border: 2px solid #007bff;
}

.card-title {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 10px;
}

.ml-2 {
  margin-left: 10px;
}
